################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/homework5/.vs/homework5/v17
